.box{
	padding:20px 30px;
	border:1px solid;
	background-color:#000;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	width:500px;
	
}
body{
	background-image:url("https://gallery.yopriceville.com/var/albums/Nature/Autumn_Forest_Landscape_with_Bridge_HD_Wallpaper.jpg?m=1444826573");
	background-size:cover;
	
}
lable{
	color:#fff;
	font-size:17px;
	font-weight:bold;
}
.textbox input{
	background:none;
	border:none;
	outline:none;
	border-bottom:1px solid #fff;
	width:400px;
	margin:10px;
}
.textbox h2{
padding-bottom:20px;
}
.textbox lable i{
	padding-right:5px;
}
.textbox h2{
	font-color:#fff;
}